/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	background-color: #f8f8f8;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	position: relative;
}

.button-up {
	position: fixed;
	bottom: 70px;
	left: 40px;
	z-index: 15;
}

.header {
	padding: 27px 0;
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header__logo {
	margin-right: 34px;
	vertical-align: middle;
}

[class*="__container"] {
	max-width: 1290px;
	margin: 0 auto;
}

.header__container {
	position: relative;
}

.header__button {
	font-size: 19px;
	font-weight: 600;
	color: #fff;
	background-color: #ffbc61;
	padding: 11px 20px;
	border-radius: 8px;
}

.header__button:hover {
	background-color: #ffbd61b9;
}

.header__button:active {
	background-color: #fdae3f;
}

.header__button span {
	vertical-align: middle;
}

.header__button::before {
	content: "";
	background: url("../img/menu.svg") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}

.header__button:hover::before {
	background: url("../img/close-catalog.svg") 0 0 no-repeat;
}

.menu {
	display: none;
	position: relative;
	z-index: 5;
}

.menu:target {
	display: block;
	position: absolute;
	top: 175%;
	left: 0;
	border-radius: 8px 0 0 8px;
	background-color: #fff;
	min-width: 300px;
	padding: 8px 0;
}

.menu__link {
	font-size: 20px;
	font-weight: 600;
	color: #2b2929;
	line-height: 1.4; /* 28/20 */
	width: 100%;
	position: relative;
	padding: 10px 15px 10px 30px;
}

.menu__link:hover {
	background-color: #fdae3f;
}

.menu__link::after {
	content: "";
	background: url("../img/Menu/arrow.svg") 0 0
	no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 18px;
	right: 15px;
}

.menu__link:hover::after {
	background: url("../img/arrow.svg") 0 0
	no-repeat;
}

  .menu__link * {
	vertical-align: middle;
}

.menu__link img {
	margin-right: 15px;
}

.menu__item:hover .sub-menu {
	opacity: 1;
	visibility: visible;
}

.sub-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 100%;
	background: #fff;
	height: 100%;
	width: 318px;
	border-radius: 0 8px 8px 0;
	padding: 8px 0;
}

.sub-menu__list {
	padding: 20px 20px 20px 30px;
	height: 100%;
	position: relative;
}

.sub-menu__list::before {
	content: "";
	position: absolute;
	background: #fdae3f;
	height: 100%;
	width: 5px;
	top: 0;
	left: 0;
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}

.sub-menu__link {
	font-size: 19px;
	line-height: 2.1; /* 40/19 */
}

.sub-menu__link:hover {
	color: #fdae3f;
}

  /* картка==================================================================================================== */

.practis {
	padding-top: 150px;
}

.card {
	border-radius: 8px;
	max-width: 250px;
	min-height: 300px;
	background: url("../img/Frame.svg") 0 bottom no-repeat, #fff;
	position: relative;
	margin-bottom: 25px;
}

.card:not(:last-child) {
	margin-right: 4px;
}

.card:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card::after {
	content: "";
	background: url("../img/arrw.svg") 0 0 no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
}

.card__name {
	color: #2a2929;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4; /* 28/20 */
	position: absolute;
	top: 20px;
	left: 20px;
}

.card__number {
	color: #b1b1b1;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4; /* 28/20 */
	position: absolute;
	top: 20px;
	right: 20px;
}

.footer {
	background-color: #fff;
	padding: 20px 0;
}

.footer p {
	font-size: 26px;
	text-align: center;
}

